src
test
rollup.config.ts
.travis.yml
tsconfig.json
tsconfig.paths.json
.gitignore
.rpt2_cache
coverage
.nyc_output
.vscode
tslint.json
.eslintignore
.eslintrc
.mocharc.yml
.nycrc
node_modules
.github
logo.png
wtfpl-badge.png
